
 .infoList{

    .is-active{
        background-color: rgba(153, 46, 46, 0.3) !important;
    }
    .is-opened .el-submenu__title{
        background-color: #D34E24 !important;
    }
    .el-menu-vertical-demo{
        border: 0;
    }
    .button{
        .el-button{
            float: right;
         }
    }

     .cell{
         text-align: center;
     }
 }
 .el-menu-vertical-demo{
    border: 0 !important;
}
